# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/

# Virtual environment (DO NOT COMMIT)
.venv/
venv/
ENV/
env/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# FastAPI / Uvicorn
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Node / Android (future)
# ======================
node_modules/
build/
dist/

# ======================
# ESP32 / PlatformIO
# ======================
.p
